@import "react-datepicker/dist/react-datepicker.css";
@import "./datepicker.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}